.menu {
    background-color: #333;
    padding: 10px;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .menu li a:hover {
    background-color: #fff;
    color: #333;
  }